<p-button label="Yane"></p-button>

<i class="pi pi-check"></i>
|
<i class="pi pi-times"></i>
|
<span class="pi pi-search"></span>
|
<span class="pi pi-user"></span>
|
<span class="pi pi-trash"></span>

<p-speedDial 
    type="circle" 
    [radius]="80" 
    buttonClassName="p-button-warning" />

    <div style="margin: 20px">
        <h1>Exemplo com PrimeNG</h1>
      
        <input type="text" pInputText formControlName="text" />

        <p-button label="Excluir" icon="pi pi-trash"></p-button>
      </div>
      